*{
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #E8E9E4;
}

.header{
	background-color: #272822;
	padding-top: 10px;
	padding-bottom: 10px;
}