/* 

我們自定義的CSS樣式

*/

.starter-template{
	margin-top: 5%;
}

.content-tmplate{
	margin: 3%;
}

.book-template{
	margin: 30px;
}

.bgc{
	height: 700px;
}

.bgc:nth-of-type(odd) {
	background-image: url(../img/bookleft.jpg);
	background-repeat:no-repeat; 

}
.bgc:nth-of-type(even) {
	background-image: url(../img/bookright.jpg);
	background-repeat:no-repeat; 
}
